* {
  box-sizing: border-box;
}

main > .container {
  padding: 60px 15px 0;
}

.album-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.album-grid .flex-column {
  max-width: 250px;
}

.album-grid .thumbnail {
  width: 180px;
  float: left;
  position: relative;
  margin: 15px;
  box-shadow: 2px 2px 5px #c0c0c0;
  text-align: center;
}

.album-grid .thumbnail img {
  border: 1px solid #c0c0c0;
  margin-top: 15px;
}

.album-grid .thumbnail .fav {
  position: absolute;
  bottom: 3px;
  right: 3px;
  cursor: pointer;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
